cryptography
Django==3.2.5
django-extensions==3.1.3
django-object-actions==3.0.2
django-soft-delete==0.9.18
djangorestframework==3.12.4
mysql-connector-python==8.0.26
mysqlclient==2.0.3
pep8==1.7.1
pytest==6.2.4
psycopg2
soft-delete==0.2.2
sqlparse==0.4.1
django_heroku
gunicorn
whitenoise
requests
winshell
numpy
pandas
oauth2client==4.1.3
matplotlib
gspread
tzlocal==2.1
APScheduler==3.0.0